body {
    background-color: white;
    margin: 0;
}


.margincontainer {
    margin: 8px;

    /*makes parralax work in container*/
    /*height: 100%;*/
}

body,
html {
    height: 100%;
}

.sidenavItem:hover {
    transform: scale(1.15);
    transition: transform 0.3s ease-out;
}

.hiddenLink {
    text-decoration: none;
    cursor: none;
}

.parallax {
    /* The image used */
    background-image: url("images/potato.jpg");

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* @media only screen and (max-device-width: 1366px) {
    .parallax {
      background-attachment: scroll;
    }
  } */

.active {
    background-color: #6d5300;

}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #f1f1f1;
    z-index: 100;
    border-width: 0;
    border-bottom-width: 5px;
    border-style: solid;
    border-color: #a88a10;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    padding: 16px;
    text-decoration: none;
    color: #333;
    font-size: 24px;
}

nav li a:hover {
    cursor: pointer;
}

.rightAlign {
    float: right;
}

nav li:not(.active) a:hover  {
    background-color: #ddd;
}

nav li.active a {
    color: white;
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

.caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}

.zoomItem {
    padding-top: 100px;
}

.proposal {
    background-color: #ffef92;
    padding: 20px;
    margin: auto;
    border-radius: 10px;
    width: 60%;

}

.proposalRight {
    width: 45%;
    float: right;
    padding: 10px;
    text-align: justify;
}

.proposalLeft {
    width: 45%;
    display: inline-block;
    padding: 10px;
    text-align: justify;
}

.btn {
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 29px;
    padding: 16px;
    background: #a88a10;
    text-decoration: none;
    border: none;
    /* Remove default border */
    cursor: pointer;
    /* Add cursor pointer */
    transition: background-color 0.3s ease;
    /* Add transition */
    margin: auto;
    align-self: center;
}

.btn:hover {
    background: #91770e;
    text-decoration: none;
}

.btn:focus,
.btn:active {
    outline: none;
    /* Remove default focus and active outlines */
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.5);
    /* Add custom focus styling */
}