/* Add CSS styles for the sticky navigation bar */
body{
   background-color: white;
   /* background-image:url('https://t4.ftcdn.net/jpg/00/35/12/45/360_F_35124578_KGQaMUppAWYiRWph1gEIY1Ibql6a5mIG.jpg');
   background-repeat: repeat; */

   margin:0;
}

.margincontainer{
    margin: 8px;
}

nav {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #f1f1f1;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    padding: 16px;
    text-decoration: none;
    color: #333;
    font-size: 24px;
}

.rightAlign {
    float: right;
}

nav li a:hover {
    background-color: #ddd;
}

.img1{
    /* The image used */
    background-image: url("images/placeholder.jpg");
  
    /* Set a specific height */
    min-height: 500px;
}

.parallax {
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}

.caption{
    background-color: greenyellow;
}