@font-face {
    font-family: 'montserrat';
    src: url('Montserrat.woff');
}

/* @font-face {
    font-family: "Bradley Hand ITC V2";
    src: url("https://db.onlinewebfonts.com/t/0252223e8c36008b595f5e379ad5e524.eot");
    src: url("https://db.onlinewebfonts.com/t/0252223e8c36008b595f5e379ad5e524.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/0252223e8c36008b595f5e379ad5e524.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/0252223e8c36008b595f5e379ad5e524.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/0252223e8c36008b595f5e379ad5e524.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/0252223e8c36008b595f5e379ad5e524.svg#Bradley Hand ITC V2")format("svg");
} */
@font-face{
    font-family: 'BradleyHand';
    src: url('BradleyHand.woff');
}

body {
    background-color: #fefbf6;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

footer{
    padding-top: 20px;
    margin-left: 8px;
    padding-bottom: 10px;
    font-family: montserrat, Arial, Helvetica;
}

body,
html {
    height: 100%;
}

.sidenavItem:hover {
    transform: scale(1.15);
    transition: transform 0.3s ease-out;
}

.hiddenLink {
    text-decoration: none;
    cursor:default;
}

.parallax {
    /* The image used */
    background-image: url("images/potato.jpg");

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#scrollToTop{
    cursor: pointer;
}

.active {
    background-color: #6d5300;

}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #f1f1f1;
    z-index: 100;
    border-width: 0;
    border-bottom-width: 5px;
    border-style: solid;
    border-color: #a88a10;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    padding: 16px;
    text-decoration: none;
    color: #333;
    font-size: 24px;
}

nav li a:hover {
    cursor: pointer;
}

nav li:not(.active) a:hover  {
    background-color: #ddd;
}

nav li.active a {
    color: white;
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

.caption span.border {
    background-color: rgba(1,1,1,0.75);
    color: #fff;
    padding: 18px;
    font-size: 5rem;
    letter-spacing: 5px;
    font-family: BradleyHand;
}

.zoomItem {
    padding-top: 100px;
}

.proposal {
    font-family: montserrat, Arial, Helvetica;
    background-color: #ffef92;
    padding: 20px;
    margin: auto;
    border-radius: 10px;
    width: 60%;
}

.proposalRight {
    width: 45%;
    float: right;
    padding: 10px;
    text-align: justify;
}

.proposalLeft {
    width: 45%;
    display: inline-block;
    padding: 10px;
    text-align: justify;
}

.paragraph{
    font-family: montserrat, Arial, Helvetica;
    padding-top:50px;
    margin-left: 8%;
    margin-right: 8%;
}

.paragraph h3{
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 2rem;
    text-align: center;
}

.paragraph p{
    font-size: 1.25rem;
}

#survey{
    margin-top: -50px;
    padding-top: 70px;
}

.infographiccontainer{
    padding-top:50px;
}

.infographic{
    width:100%;
}

.btn {
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 29px;
    padding: 16px;
    background: #a88a10;
    text-decoration: none;
    border: none;
    /* Remove default border */
    cursor: pointer;
    /* Add cursor pointer */
    transition: background-color 0.3s ease;
    /* Add transition */
    margin: auto;
    align-self: center;
    position: relative;
}

.btn:hover {
    background: #91770e;
    text-decoration: none;
}

.btn:focus,
.btn:active {
    outline: none;
    /* Remove default focus and active outlines */
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.5);
    /* Add custom focus styling */
}

.center {
    margin-top: 20px;
    text-align: center;
}